# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pip
pip-log.txt

# unit test / coverage reports
.cache

# pyenv
.python-version

# dotenv
.env

# settings
popbooks/settings.py
